<h2>Add a task!</h2>

<form action="/" method="post">
  <div class="form-group">
    <label for="name">Name </label>
    <input id="task_name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-warning">Add Task</button>
</form>
