<div class="row">
  <div class="col-12-lg">
    <div class="alert alert-success" role="alert">
      Success! Your changes have been saved!
    </div>
    <a href="/"><button class="button btn">Return Home</a>
  </div>
</div>
